* {
	font-family: "Helvetica", "sans-serif";
	text-align: center;
}

html, body {
	background-color: #333333;
	margin: 0;
}

h1 {
		color: #FFFFFF;
		font-size: 3em;
}

p {
		color: #FFFFFF;
		font-size: 1.2em;
}

.button {
	background-color: #FFFFFF;
	border: none;
	border-radius: 0px;
	text-decoration: none;
	padding: 10px 10px;
	transition: 0.5s;
}

.button:hover {
	background-color: #DDDDDD;
	border: none;
	padding: 10px 10px;
	transition: 0.5s;
}